.preloader__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	height: 100%;
	
	font-weight: 500;
	font-size: 36px;
	color: #ffb7c9;

	overflow: hidden;
}

.preloader {
	max-width: 100vw;
}